.anchorpane{

    -fx-background-color:linear-gradient(to right, #e5f1f8, #b2cfec)
}

.table-view .column-header:hover{
    -fx-background-color: gray;
}

.table-view .table-column{
    -fx-alignment:center;
}

.table-view{

    -fx-text-fill: white;
}


.table-row-cell:hover {
    -fx-background-color: #b0acac;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.table-view .column-header{
    -fx-background-color: #4b4a4a;
}
.list-cell:odd{
    -fx-background-color: #e3c6c6;
}

